/* ---------Single Page Website CSS by Kelly King ----------*/

*{ margin: 0 auto;}


body {
	background:white; 
	margin: 0 auto; 
	font-family:georgia, times,serif; 
	height:2000px;
	}
.resalta{
	color:black;
	font-weight:bolder;
}
#header {
	position:fixed;
	top:0px;
	left:0px;
	background:#29221c; 
	height:70px; 
	width:100%;
	}

#nav {
	margin-left:50px;
	margin-top:45px;
	letter-spacing:0.2em;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	color:white;
}
#nav a{
	color:#ded9c5;
}
#page1 {
	height:550px;
	width:1000px;
	background:#afc9ff;
	padding-top:110px;
	background-image: url('../binaries/back_with_logo.jpg');
	color:#6b5e4e;
	}
p{
	padding:30px;
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
}
li {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
}
#page2 {
	width:1000px;
	background:#ebe7db;
	background-image: url('../binaries/page_background.jpg');
	}
	
#page3 {
	height:900px;
	width:1000px;
	background:#ebe7db;
	background-image: url('../binaries/page_background.jpg');
	}
#page4 {
	height:800px;
	width:1000px;
	background:#ebe7db;
	background-image: url('../binaries/page_background.jpg');
	}
.page-padding {height:90px; width:100%;}

a { color:#936523; text-decoration:none;}
	
a:hover { text-decoration:underline;}

h1{
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;


	color:#eba138;
	font-family:'Questrial', sans-serif;
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
	background-color: #29221C;
	letter-spacing:0.3em;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom: 15px;
}
.sombra{
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}
